* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 100%;
  overflow: hidden;
}

.main .nav {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 17px;
}

.main .nav .nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.main .nav .nav__icon .icon {
  width: 30px;
}

.main .nav .nav__functions,
.main .nav .nav__my-music {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .nav .nav__functions .nav__functions--element,
.main .nav .nav__my-music .nav__my-music--title,
.main .nav .nav__my-music .nav__my-music--elements {
  margin: 8px auto;
  width: 80%;
}

.main .nav .nav__functions .nav__functions--element a,
.main .nav .nav__my-music .nav__my-music--title,
.main .nav .nav__my-music .nav__my-music--elements a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: block;
  padding: 7px 7px 7px 20px;
  border-radius: 5px;
  text-align: left;
}

.main .nav .nav__functions .nav__functions--element a:hover,
.main .nav .nav__my-music .nav__my-music--elements a:hover {
  background-color: #fff;
  color: #ff751a;
  fill: #ff751a;
}

.main .nav .nav__functions .nav__functions--element a.active {
  background-color: #ff0066;
  color: white;
}

.main .nav .nav__my-music .nav__my-music--title h2 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a6a6a6;
  letter-spacing: 1.2px;
}

.main .nav .nav__my-music .nav__my-music--elements .element a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.main .nav .nav__my-music .nav__my-music--elements .element .icon {
  margin-right: 15px;
}

.main .main-content {
  overflow-y: scroll;
  background-color: #eceaea;
  margin-top: 17px;
  padding-left: 35px;
  max-height: 100vh;
}

.main .main-content .main-content__nav .btn a {
  text-decoration: none;
}

.main .main-content .main-content__nav .btn .btn-back {
  display: inline-block;
  margin-right: 30px;
}

.main .main-content .main-content__nav .btn .btn-forward {
  display: inline-block;
}

.main .main-content .main-content__nav .search {
  border-radius: 20px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-content .main-content__nav .search .icon {
  display: inline-block;
  margin-right: 9px;
  fill: #999999;
}

.main .main-content .main-content__nav .search .input-search {
  width: 95%;
  height: 100%;
  border: 0;
  outline: 0;
}

.main .main-content .main-content__nav .profile {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.main .main-content .main-content__nav .profile .username {
  font-weight: 700;
  color: #a6a6a6;
}

.main .main-content .main-content__nav .profile .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ff0066;
  margin: 0 15px;
}

.main .main-content .main-content__nav .profile .btn-down {
  stroke-width: 1;
  stroke: black;
  fill: #b3b3cc;
}

.main .main-content .main-content__albumn {
  margin: 25px 0;
}

.main .main-content .main-content__albumn .name-of-title {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main .main-content .main-content__albumn .list .list-image {
  display: block;
}

.main .main-content .main-content__albumn .list img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.main .main-content .main-content__albumn .list .list-title {
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main .main-content .main-content__albumn .list .list-author {
  color: #a6a6a6;
}

.main .main-content .main-content__albumn .list .space {
  padding-left: 5px;
}

.main .main-content .main-content__first-hint-line {
  margin: 25px 0;
}

.main .main-content .main-content__first-hint-line .name-of-title {
  font-weight: 700;
  font-size: 1.2em;
}

.main .main-content .main-content__first-hint-line .continue-listen img,
.main
  .main-content
  .main-content__first-hint-line
  .trending-authors
  .author
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .main-content .main-content__first-hint-line .continue-listen .image {
  padding-inline: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.main .main-content .main-content__first-hint-line .continue-listen .status {
  background-color: #fff;
  padding-inline: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.main
  .main-content
  .main-content__first-hint-line
  .continue-listen
  .status
  .info {
  padding: 15px;
}

.main .main-content .main-content__first-hint-line .continue-listen .author {
  color: #b3b3cc;
  font-size: smaller;
}

.main
  .main-content
  .main-content__first-hint-line
  .continue-listen
  .status
  .btn-play {
  width: 35px;
  height: 35px;
  background-color: #ff751a;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-content .main-content__first-hint-line .trending-authors .author a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main
  .main-content
  .main-content__first-hint-line
  .trending-authors
  .author
  .image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}

/*Used to create space between two elements*/
.offset {
  margin-bottom: 15px;
}

.main .main-content .main-content__first-hint-line .trending-authors .author a {
  text-decoration: none;
  color: #999999;
}

/*CSS Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  height: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
